.tmp/public/ActumCredit/*.csv
.tmp/public/uploads/userprofile/*.png
actumcheckpayment/*.txt
actumdoctorcredit/*.txt
actumdoctorcreditcheck/*.txt
actumrecurringdebit/*.txt
assets/ActumCredit/*.csv
logs/*.txt
logs/translog/*.txt
node_modules
striperecurringdebit/*.txt
translog/*.txt
assets/uploads/userprofile/*.png
*.pem
JWT_PRIVATE_KEY.PEM
JWT_PUBLIC_KEY.PEM
plaidlog.txt
checktransferlog.txt
cronemailservice/*.txt
.tmp
assets/images/signatures/*.png
*.code-workspace
logs/pficheck/*.txt
logs/transunion/*.txt
logs/plaid/*.txt
.idea
firstAssociatesUpload/*.csv
firstAssociatesUpload/ExportedAllFundedContracts/*.csv
*.pdf
.DS_Store
/paymentservice/**
assets/vue/*
node_modules/.bin/acorn
.vscode/*