@font-face {
  font-family: "Spartan";
  src: local("Spartan-Thin"),
    url("../../fonts/Spartan/Spartan-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-ExtraLight"),
    url("../../fonts/Spartan/Spartan-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Light"),
    url("../../fonts/Spartan/Spartan-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Regular"),
    url("../../fonts/Spartan/Spartan-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Medium"),
    url("../../fonts/Spartan/Spartan-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-SemiBold"),
    url("../../fonts/Spartan/Spartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Bold"),
    url("../../fonts/Spartan/Spartan-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-ExtraBold"),
    url("../../fonts/Spartan/Spartan-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Black"),
    url("../../fonts/Spartan/Spartan-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
